/* Navbar.css */

/* Estilos básicos do navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px; /* Largura do menu vertical */
  transform: translateX(-300px);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto; /* Adicionado para rolagem quando necessário */
}

.dark-mode {
  background-color: #333;
  color: white;
}

/* Estilos para o container do menu e logo */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

/* Estilos para o ícone do menu hamburguer */
.menu-icon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem; /* Ajustado para ficar à direita */
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 0px;
  animation: pulse 1.5s infinite; /* Animação de pulsação */
}

.hamburger {
  color: white;
  font-size: 30px; /* Tamanho do ícone */
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 2rem; /* Espaçamento do topo */
}

.nav-links li {
  margin-bottom: 1rem; /* Espaçamento entre os itens */
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-links li a:hover {
  color: #f5a623;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    transform: translateX(-100%);
    overflow-y: visible; /* Exibir o conteúdo completo em telas menores */
    height: auto; /* Altura automática conforme conteúdo */
    max-height: 100%; /* Altura máxima igual à altura da tela */
  }
}

/* Animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
