/* Style/Sobre.css */

.sobre-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #9932cd, #4b0082);
  color: white; /* Cor do texto geral */
  padding: 2rem 0;
}

.intro-section,
.skills-section,
.projects-section,
.contact-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  color: white !important;
}

h2 {
  color: white !important;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sobre-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
  border: 3px solid white;
}

.text-content {
  max-width: 600px;
  color: white; /* Definindo a cor do texto como branco */
}

p {
  color: white;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: white; /* Definindo a cor dos títulos como branco */
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card p {
  margin-top: 1rem;
  font-size: 1rem;
  color: white; /* Cor do texto dentro dos cards de habilidades */
}

.navigation {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.navigation button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white; /* Cor das setas de navegação */
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.navigation button:hover {
  color: #f0f0f0; /* Cor das setas de navegação ao passar o mouse */
}
